.navbar {
  background-color: #EAF6FF;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  &__menu {
    display: flex;
    gap: 20px;

    &-link {
      color: #2E3A59;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #D1EFF2;
        color: #1C2B3A;
      }
    }
  }

  &__auth-flow {
    display: flex;
    gap: 15px;
  }

  &__auth-button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.log-in {
  background-color: #A9D6EB;
  color: #FFFFFF;
  border: 2px solid #A9D6EB;

  &:hover {
    background-color: #FFFFFF;
    color: #A9D6EB;
  }
}

.sign-up {
  background-color: #FFFFFF;
  color: #B8E3DD;
  border: 2px solid #B8E3DD;

  &:hover {
    background-color: #B8E3DD;
    color: #FFFFFF;
  }
}
