<nav class="navbar">
  <div class="navbar__menu">
    <ng-content select="h3"></ng-content>
    <ng-content select="p"></ng-content>
    <a class="navbar__menu-link" href="#why-people-flow">Why People Flow?</a>
    <a class="navbar__menu-link" href="#our-platform">Our Platform</a>
    <a class="navbar__menu-link" href="#help-support">Help & Support</a>
    <a class="navbar__menu-link" href="#feedback">Feedback</a>
    <a class="navbar__menu-link" href="#contact-info">Contact us</a>
  </div>
  <div class="navbar__auth-flow">
    <a class="navbar__auth-button log-in" href="#log-in">Log in</a>
    <a class="navbar__auth-button sign-up" href="#sign-up">Sign up</a>
  </div>
</nav>
