<section class="contact-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" action="" class="contact-form__container">
    <fieldset class="contact-form__fieldset">
      <header class="contact-form__header">
        <h3 class="contact-form__title">Get in Touch with Us!</h3>
        <p class="contact-form__subtitle">We'd love to hear from you. Please fill out the form below.</p>
      </header>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="name">Your Name:</label>
        <input placeholder="Enter your name" class="contact-form__input" type="text" id="name" formControlName="name" />
        <div class="error-message" [hidden]="!(form.get('name')?.invalid && form.get('name')?.touched)">
          Your Name is required
        </div>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="email">Email:</label>
        <input
          placeholder="Enter your email"
          class="contact-form__input"
          type="email"
          id="email"
          formControlName="email"
        />
        <div
          class="error-message"
          [hidden]="
            !(form.get('email')?.touched && form.get('email')?.hasError('required') && !form.get('email')?.value)
          "
        >
          Your Email is required
        </div>
        <div
          class="error-message"
          [hidden]="!(form.get('email')?.hasError('email') && !form.get('email')?.hasError('required'))"
        >
          Invalid email format
        </div>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="subject">Subject:</label>
        <input
          placeholder="Subject of your message"
          class="contact-form__input"
          type="text"
          id="subject"
          formControlName="subject"
        />
        <div class="error-message" [hidden]="!(form.get('subject')?.invalid && form.get('subject')?.touched)">
          Your Subject is required
        </div>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="message">Your Message:</label>
        <textarea
          placeholder="Write your message here..."
          class="contact-form__textarea"
          type="text"
          id="message"
          formControlName="message"
        ></textarea>
        <div class="error-message" [hidden]="!(form.get('message')?.invalid && form.get('message')?.touched)">
          Your Message is required
        </div>
      </div>

      <button class="contact-form__submit-btn" type="submit" [disabled]="form.invalid">Send Message</button>
    </fieldset>
  </form>
</section>
