.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &__container {
    width: 100%;
    max-width: 600px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #B8E3DD;
  }

  &__header {
    margin-bottom: 25px;
  }

  &__title {
    font-size: 26px;
    color: #2E3A59;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }

  &__form-group {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 16px;
    color: #A9A9A9;
    margin-bottom: 5px;
    display: block;
  }

  &__input,
  &__textarea,
  &__select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #D1EFF2;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #F1FAFD;

    &:focus {
      border-color: #007BFF;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }

  &__textarea {
    resize: none;
    height: 120px;
  }

  &__rating {
    display: flex;
    gap: 10px;
  }

  &__submit-btn {
    display: inline-grid;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #2E3A59;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: #0056b3;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }

    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: lightgrey;
      cursor: not-allowed;
    }
  }


  &__additional-info {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #2E3A59;
  }
}

.error-message {
  color: red;
  font-weight: 700;
  font-size: 12px;
  margin-top: 5px;
}
