<section class="contact-form">
  <form [formGroup]="form" action="" class="contact-form__container">
    <fieldset class="contact-form__fieldset">
      <header class="contact-form__header">
        <h3 class="contact-form__title">Get in Touch with Us!</h3>
        <p class="contact-form__subtitle">We'd love to hear from you. Please fill out the form below.</p>
      </header>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="name">Your Name:</label>
        <input placeholder="Enter your name" class="contact-form__input" type="text" id="name" formControlName="name" />
        <ng-container *ngrxLet="form.get('name') as name">
          <span class="error-message" *ngIf="name?.invalid && name?.touched"> Your Name is required </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="email">Email:</label>
        <input
          placeholder="Enter your email"
          class="contact-form__input"
          type="email"
          id="email"
          formControlName="email"
        />
        <ng-container *ngrxLet="form.get('email') as email">
          <span class="error-message" *ngIf="email?.hasError('required') && email?.touched">
            Your Email is required
          </span>
          <span class="error-message" *ngIf="email?.hasError('email') && !email?.hasError('required')">
            Invalid email format
          </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="subject">Subject:</label>
        <input
          placeholder="Subject of your message"
          class="contact-form__input"
          type="text"
          id="subject"
          formControlName="subject"
        />
        <ng-container *ngrxLet="form.get('subject') as subject">
          <span class="error-message" *ngIf="subject?.invalid && subject?.touched"> Your Subject is required </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <label class="contact-form__label" for="message">Your Message:</label>
        <textarea
          placeholder="Write your message here..."
          class="contact-form__textarea"
          type="text"
          id="message"
          formControlName="message"
        ></textarea>
        <ng-container *ngrxLet="form.get('message') as message">
          <span class="error-message" *ngIf="message?.invalid && message?.touched"> Your Message is required </span>
        </ng-container>
      </div>

      <button class="contact-form__submit-btn" type="submit" (click)="onSubmit()" [disabled]="form.invalid">
        Send Message
      </button>
    </fieldset>
  </form>
</section>
