<section class="contact-form">
  <form [formGroup]="form" action="" class="contact-form__container">
    <fieldset class="contact-form__fieldset">
      <header class="contact-form__header">
        <h3 class="contact-form__title">Get in Touch with Us!</h3>
        <p class="contact-form__subtitle">We'd love to hear from you. Please fill out the form below.</p>
      </header>

      <div class="contact-form__form-group">
        <p-floatLabel>
          <input class="contact-form__input" type="text" id="name" formControlName="name" pInputTextarea />
          <label class="contact-form__label" for="name">Enter name</label>
        </p-floatLabel>
        <ng-container *ngrxLet="form.get('name') as name">
          <span class="error-message" *ngIf="name?.invalid && name?.touched"> Your Name is required </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <p-floatLabel>
          <input class="contact-form__input" type="email" id="email" formControlName="email" pInputTextarea />
          <label class="contact-form__label" for="email">Enter email</label>
        </p-floatLabel>
        <ng-container *ngrxLet="form.get('email') as email">
          <span class="error-message" *ngIf="email?.hasError('required') && email?.touched">
            Your Email is required
          </span>
          <span class="error-message" *ngIf="email?.hasError('email') && !email?.hasError('required')">
            Invalid email format
          </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <p-floatLabel>
          <input class="contact-form__input" type="text" id="subject" formControlName="subject" pInputTextarea />
          <label class="contact-form__label" for="subject">Write your subject</label>
        </p-floatLabel>

        <ng-container *ngrxLet="form.get('subject') as subject">
          <span class="error-message" *ngIf="subject?.invalid && subject?.touched"> Your Subject is required </span>
        </ng-container>
      </div>

      <div class="contact-form__form-group">
        <p-floatLabel>
          <textarea class="contact-form__textarea" formControlName="message" id="message" rows="4" pInputTextarea>
          </textarea>
          <label for="message" class="contact-form__label">Write your message here...</label>
        </p-floatLabel>

        <ng-container *ngrxLet="form.get('message') as message">
          <span class="error-message" *ngIf="message?.invalid && message?.touched"> Your Message is required </span>
        </ng-container>
      </div>

      <p-button
        class="contact-form__submit-btn"
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid"
        label="Submit"
        icon="pi pi-check"
        iconPos="right"
      />
    </fieldset>
  </form>
</section>
